body {
    height: 100%;
    width: 100%;
    background-color: #4cb382;
    margin: 0px;
    padding: 0px;
}

#webgl_canvas {
    position:absolute;
    // left:0;
    // top:0;
    // // width:300px;
    // // height : 300px;
    // width:100%;
    // height:100%;
    z-index: 1;
}

.control_panel {
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 2;
}

.parallel_effect {
    img[name="building"] {
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 70rem;  
        position : absolute;
    }

    img[name="falling_tree"] {
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 50rem;  
        position : absolute;
    }

    .parallel_holder {
        position : absolute;
        left : 20%;
        top : 20%;
        
        img[name="miko"] {
            position: relative;
            display:block;
            left : 5rem;
        }
    }
}

.slide_panel {
    &[data-visibility="true"] {
        display: inline;
    }

    &[data-visibility="false"] {
        display: none;
    }

    &[name="touhou_6"] {
        position: fixed;
        max-width: 50rem;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top : 40vh;
        
        p, h2, h3 {
            color: black;
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 0.2px;
            -webkit-text-stroke-color: black;
        }

        p {
            font-size: 1.5rem;
        }
        animation-duration: 3s;
        //animation-name: slidein; 
        animation-fill-mode: forwards;     
    }

    @keyframes slidein {
        0% {
            transform: scale(1,1);
            filter: blur(0px);
        }
      
        60% {
          transform: scale(0.8,0.8);
          filter: blur(1);
        }

        100%{
            transform: translate(0, 1000px);
            filter: blur(5px) saturate(5);  
        }
    }
}

.adp6_canvas_2d {
    display: none;
}

.control_bar {
    position: fixed;
    top : 1rem;
    left : 1rem;
}